<div class="card">
  <div class="card-content">
    <span class="card-title">Nueva propuesta</span>

    <div class="row">
      {{tenpines/input-text label='Titulo' value=tema.titulo col='s4'}}
      {{tenpines/text-area label='Descripcion' value=tema.descripcion col='s12' }}
    </div>

  </div>
  <div class="card-action right-align">
    {{tenpines/material-button label='Guardar' click=alGuardar }}
  </div>
</div>
