<div class="card">
  <div class="card-content">
    <span class="card-title">Nueva propuesta</span>

    {{tenpines/input-text label='Titulo' value=tema.titulo }}
    {{tenpines/text-area label='Descripcion' value=tema.descripcion }}

  </div>
  <div class="card-action right-align">
    {{tenpines/material-button label='Guardar' click=alGuardar }}
  </div>
</div>
