{{#copy-button
  clipboardText=textoMinuta
  classNames='waves-effect waves-light btn'
}}
  Copiar
{{/copy-button}}
{{tenpines/material-button label='Descargar txt' click=(action 'descargarTxt')}}

<div class="card" >
  <div class="card-content">
    <span>
      <p class="text-viewer">{{textoMinuta}}</p>
    </span>
  </div>
</div>
