@import 'tenpines-material-components';

.container {
  max-width: none;
}
.ultimo-tema-stile{
  border-bottom:solid ;

  border-bottom-color:#ff2323 ;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.titulo-de-tema {
  font-size: x-large;
}

.clickable {
  cursor: pointer;
}
