@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import 'tenpines-material-components';
@import 'ember-power-select/themes/material';
@import 'ember-power-select';

.container {
  max-width: none;
}
.ultimo-tema-stile{
  border-bottom:dashed;
  border-bottom-color:#ff2323 ;
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.parcheDeContEditor{
  position: relative;
  height: 65px;
}
.parcheDeEditorBottom{
  position: absolute;
  bottom: 0px;
}
.crop {
  overflow:auto;
  overflow-wrap: break-word;
}​

.titulo-de-tema {
  font-size: x-large;
}

.clickable {
  cursor: pointer;
}

.indivisible {
  white-space: nowrap;
}

.con-padding {
  padding: 20px;
}

tab1 {
  margin-left: 4em;
}

tab2 {
  margin-left: 8em;
}

tab3 {
  margin-left: 12em;
}

pre {-moz-tab-size: 16;
  font-family: arial;
  margin: 0 0;} /* Code for Firefox */
pre {-o-tab-size: 16;
  font-family: arial;
  margin: 0 0;} /* Code for Opera 10.6-12.1 */
pre {tab-size: 16;
  font-family: arial;
  margin: 0 0;}

@import "ember-power-select";
